@import '_fonts.css';
@import '_variables.css';
@import 'normalize.css';
@import 'nullstyle.css';

/*/ ///////////////////////////////////////*/
/*/////////////////служебное//////////////*/
/*/ ///////////////////////////////////////*/

body {
  background-color: var(--color-light);
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark);
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 120px;
  padding-bottom: 40px;
}

.main__container {
  display: flex;
  flex-direction: column;
}

.main__center-part {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ////////////////////////////////// */
/* //////////////шапка/////////////// */
/* ///////////////////////////////// */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-light);
  z-index: 999;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  margin-left: 20px;
}

.nav__item--active {
  color: var(--color-accent);
  margin-left: 20px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--color-accent);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* ///////////////////////////////////////////// */
/* ///////////верхняя строка настроек/////////// */
/* ///////////////////////////////////////////// */

.main__settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding-bottom: 12px;
  margin-bottom: 32px;
  border-bottom: 1px solid #ccc;
}

.main__select {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.main__label {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.main__btn {
  display: flex;
  column-gap: 8px;
  font-size: 18px;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.main__btn:hover {
  color: var(--color-accent);
}

.main__btn svg {
  max-width: 20px;
}

.main__find-count {
  opacity: 0.5;
}

.main__sort {
  display: flex;
  align-items: center;
  column-gap: 4px;
  cursor: pointer;
}

.main__sort svg {
  max-width: 20px;
  transition: transform 0.15s ease-in-out;
}

svg.rotated {
  transform: rotate(180deg);
}

.main__sort span {
  color: var(--color-accent);
  font-weight: 700;
}

.sort {
  position: relative;
}

.sort__list {
  position: absolute;
  right: 0;
  top: 25px;
  margin-top: 15px;
  background: var(--color-light);
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 0;
  width: 160px;
  z-index: 3;
}

.sort__list--hidden {
  display: none;
}

.sort__item {
  padding: 12px 20px;
  cursor: pointer;
}

.sort__item:hover {
  background: #fff1f1;
}
.sort__item--active {
  font-weight: 700;
  color: var(--color-accent);
}

/* /////////////////////////////////////// */
/* //////////////фильтры////////////////// */
/* /////////////////////////////////////// */

.filter {
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out;
}

.filter__title {
  margin-top: 0;
  margin-bottom: 16px;
  opacity: 0.5;
  text-align: center;
  font-size: 18px;
}

.filter__form {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.filter__fieldset {
  padding: 0 0 16px 0;
  border-bottom: 1px solid #ccc;
}

.filter__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 16px;
}

.filter__legend {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
}

.filter__toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  column-gap: 4px;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.filter__toggle svg {
  max-width: 20px;
}

.filter__toggle:hover {
  color: var(--color-accent);
}

.filter__toggle--selectid {
  color: var(--color-accent);
}

/* .filter__toggle--desabled {
  opacity: 0.5;
  pointer-events: none;
} */

.filter__content {
  display: none;
}

.filter__content--visible {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  width: 100%;
  margin: 8px;
  margin-right: 0;
}

.filter__input[type='checkbox'] {
  margin-right: 8px;
}

.input-checkbox,
.input-checkbox + span {
  cursor: pointer;
}

.filter__input[type='text'],
.filter__input[type='date'] {
  flex-grow: 1;
  background-color: #fff;
  padding: 0.15rem 0.5rem;
  min-height: 40px;
  width: 80%;
  border-radius: 2px;
}

.filter__input[type='text']:focus,
.filter__input[type='date']:focus {
  border-bottom: 2px solid var(--color-accent);
}

.filter__button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-light);
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;
}

.filter__button:hover {
  background-color: #ff6060;
}

/* //////////////////////////////////////// */
/* ///////////////карточки///////////////// */
/* //////////////////////////////////////// */

.candidate-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
  gap: 25px 20px;
}

.main__title {
  margin-top: 0;
  margin-bottom: 16px;
  opacity: 0.5;
  text-align: center;
  font-size: 18px;
}

.candidate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 220px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  transition: border-color 0.3s ease-in-out;
}

.candidate-card__info {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.candidate-card:hover {
  border-color: var(--color-accent);
}

.candidate-card__img {
  width: 60%;
  height: auto;
  display: block;
  border-radius: 100%;
}

.candidate-card__name {
  font-size: 20px;
  font-weight: bold;
}

.candidate-card__status {
  color: var(--color-accent);
}

.candidate-card__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.candidate-card__mail,
.candidate-card__phone {
  display: flex;
  align-items: center;
  color: inherit;
  column-gap: 8px;
  transition: color 0.3s ease-in-out;
}

.candidate-card__mail:hover,
.candidate-card__phone:hover {
  color: var(--color-accent);
}

.candidate-card__mail svg,
.candidate-card__phone svg {
  max-width: 16px;
}

.candidate-card__label {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-top: 28px;
}

/* .candidate-card a {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: var(--color-accent);
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.candidate-card a:hover {
  background-color: #0062cc;
} */
